<div class="profile" ng-controller='profile'>
	<div class='p_header'>
		<div class="zl_box clearfix">
			<div class="tx">
				<img src="images/ba39295eb922ccd1aaeb716441fe77ab.jpg" alt="" />
			</div>
			<ul class="p_ziliao">
				<li>昵称</li>
				<li>邮箱</li>
			</ul>
		</div>
		<div></div>
	</div>
	<div class="p_content">
		<div class="my_fbbox">
			<h4 class="clearfix">最新发布 <span>全部( <i>0</i> )</span></h4>
			<div class="my_fabu">
				<ul>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="p_news">
		<ul class="clearfix">
			<li ng-repeat='list in arr' ng-click='schover($index)' ng-class='{schover:name==$index}'>{{list}}</li>
		</ul>
		<div class="my_sc">
				<ul>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
					<li>CSS本来是可以并行下载的，在什么情况下会出现阻塞加载了(在测试观察中，IE6下CSS都是阻塞加载） 当CSS后面跟着嵌入的JS的时候，该CSS就会出现阻塞后面资源下载的情况。而当把嵌入JS放到CSS前面，就不会出现阻塞的情况了。 根本原因：因为浏览器会维持html中css和js的顺序。</li>
				</ul>
			</div>
		</div>
	</div>
</div>
