<div class="xprofile" ng-controller='xprofile'>
	<ul class="clearfix bianji">
		<li ng-click='bj()' ng-class='{bjhover:name==0}'>
			编辑资料
		</li>
		<li ng-click='xg()' ng-class='{bjhover:name==1}'>
			修改密码
		</li>
	</ul>
	<div class="bj clearfix" ng-show='a'>
		<ul class="left">
			<li>
				账 号：<span></span>
			</li>
			<li>
				昵 称：<input type="text" ng-disabled='all'/>
			</li>
			<li>
				电 话：<input type="text" ng-disabled='all'/>
			</li>
			<li>
				Q &nbsp;Q：<input type="text" ng-disabled='all'/>
			</li>
			<li>
				邮 箱：<input type="text" ng-disabled='all'/>
			</li>
			<li>
				地 址：<input type="text" ng-disabled='all'/>
			</li>
			<li>
				<button ng-show='gengxin' ng-click='gx()'>更新</button>
				<button ng-show='qrgengxin' ng-click='qrgx()'>确认更新</button>
			</li>
		</ul>
		<ul class="right">
			<li>
				<img src="../images/ba39295eb922ccd1aaeb716441fe77ab.jpg" alt="" />
				<input type="file" value="image" id="img_input" />
				<textarea id="img_file"></textarea>
				<p id="img_area"></p>
			</li>
		</ul>
	</div>
	<div class="xiugai clearfix" ng-show='b'>
		<ul>
			<li>
				请输入原密码：<input type="password" />
			</li>
			<li>
				请输入新密码：<input type="password" />
			</li>
			<li>
				请确认新密码：<input type="password" />
			</li>
			<li>
				<button>确认</button>
			</li>
		</ul>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	<!--图片压缩-->
	<!--window.onload = function() {
    var input = document.getElementById("img_input");
    var result = document.getElementById("result");
    var img_area = document.getElementById("img_area");
    if (typeof(FileReader) === 'undefined') {
        result.innerHTML = "FileReader is not supported...";
        input.setAttribute('disabled', 'disabled');
    } else {
        input.addEventListener('change', readFile, false);
    }
};

function readFile() {
    var file = this.files[0];
    if (!/image\/\w+/.test(file.type)) {
        alert("image only please.");
        return false;
    }
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function(e) {
        var img = new Image,
            width = 640, //image resize
            quality = 0.8, //image quality
            canvas = document.createElement("canvas"),
            drawer = canvas.getContext("2d");
        img.src = this.result;
        img.onload = function() {
            canvas.width = width;
            canvas.height = width * (img.height / img.width);
            drawer.drawImage(img, 0, 0, canvas.width, canvas.height);
            img.src = canvas.toDataURL("image/jpeg", quality);
            console.log(img.src);
            result.innerHTML = '<img src="' + img.src + '" alt=""/>';
            img_area.innerHTML = '<div class="sitetip">preview：</div><img src="' + img.src + '" alt=""/>';
        }
    }
}-->
	
</div>
