<canvas id="canvas-club"></canvas>
<div class="lby_zhuce" ng-controller="zhuce">
	<div class="content">
		<h1>知 道</h1>
		<p>更深入了解万千的程序世界</p>
		<div class="anniu">
			<a href="javascript:;" class="active">注册</a>
			<a ui-sref="login">登录</a>
		</div>
		<div class="table">
			<input type="text" placeholder="姓名" ng-model="uname"/>
			<input type="text" placeholder="手机号（仅支持中国大陆）" ng-model="tel"/>
			<input type="password" placeholder="密码（不少于6位）" ng-model="pwd"/>
		</div>
		<button ng-click="btn()">注册知乎</button>
	</div>
</div>
